<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.alims.dao.DelegateCenterConfigMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.alims.model.po.DelegateCenterConfig" >
    <result column="DELEGATE_ORG_CODE_PREFIX" property="delegateOrgCodePrefix" jdbcType="VARCHAR" />
    <result column="LAB_ORG_ID" property="labOrgId" jdbcType="VARCHAR" />
    <result column="DEFAULT_CENTER_FLAG" property="defaultCenterFlag" jdbcType="CHAR" />
    <!--业务字段-->
    <result column="ORG_ID" jdbcType="VARCHAR" property="orgId" />
    <result column="PARENT_ID" jdbcType="VARCHAR" property="parentId" />
    <result column="ORG_NAME" jdbcType="VARCHAR" property="orgName" />
    <result column="ORG_CODE" jdbcType="VARCHAR" property="orgCode" />
    <result column="ORG_LEVEL" jdbcType="VARCHAR" property="orgLevel" />
    <result column="ORG_ADDRESS" jdbcType="VARCHAR" property="orgAddress" />
    <result column="ORG_QUALIFICATION" jdbcType="VARCHAR" property="orgQualification" />
    <result column="ORG_ZIP_CODE" jdbcType="VARCHAR" property="orgZipCode" />
    <result column="ORG_PRINCIPAL_PHONE" jdbcType="VARCHAR" property="orgPrincipalPhone" />
    <result column="ORG_PHONE_NUMBER" jdbcType="VARCHAR" property="orgPhoneNumber" />
    <result column="ORG_CONTACT" jdbcType="VARCHAR" property="orgContact" />
    <result column="ORG_CONTACT_PHONE" jdbcType="VARCHAR" property="orgContactPhone" />
  </resultMap>
  <insert id="insert" parameterType="com.bazl.alims.model.po.DelegateCenterConfig" >
    insert into DELEGATE_CENTER_CONFIG (DELEGATE_ORG_CODE_PREFIX, LAB_ORG_ID, 
      DEFAULT_CENTER_FLAG)
    values (#{delegateOrgCodePrefix,jdbcType=VARCHAR}, #{labOrgId,jdbcType=VARCHAR}, 
      #{defaultCenterFlag,jdbcType=CHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select DELEGATE_ORG_CODE_PREFIX, LAB_ORG_ID, DEFAULT_CENTER_FLAG
    from DELEGATE_CENTER_CONFIG
  </select>

  <select id="selectQualification" resultMap="BaseResultMap" parameterType="java.lang.String">
    select dcc.*,oi.*
    from DELEGATE_CENTER_CONFIG dcc
    left join ORG_INFO oi on oi.org_id = dcc.lab_org_id
    where dcc.delegate_org_code_prefix = #{delegateOrgCodePrefix,jdbcType=VARCHAR}
  </select>
</mapper>