<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.alims.dao.LoaPermissionRelationMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.alims.model.LoaPermissionRelation" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="PERMISSION_ID" property="permissionId" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from LOA_PERMISSION_RELATION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bazl.alims.model.LoaPermissionRelation" >
    insert into LOA_PERMISSION_RELATION (ID, ROLE_ID, PERMISSION_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR}, #{permissionId,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bazl.alims.model.LoaPermissionRelation" >
    update LOA_PERMISSION_RELATION
    set ROLE_ID = #{roleId,jdbcType=VARCHAR},
      PERMISSION_ID = #{permissionId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select ID, ROLE_ID, PERMISSION_ID
    from LOA_PERMISSION_RELATION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select ID, ROLE_ID, PERMISSION_ID
    from LOA_PERMISSION_RELATION
  </select>
</mapper>