<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bazl.alims.dao.XckyAddressInfoMapper" >
  <resultMap id="BaseResultMap" type="com.bazl.alims.model.po.XckyAddressInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ORG_ID" property="orgId" jdbcType="VARCHAR" />
    <result column="XCKY_ADDRESS" property="xckyAddress" jdbcType="VARCHAR" />
    <result column="XCKY_SYS_NAME" property="xckySysName" jdbcType="VARCHAR" />
    <result column="DEFAULT_WHEN_NULL" property="defaultWhenNull" jdbcType="VARCHAR" />
    <result column="INVOKER_IPADDR" property="invokerIpaddr" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, ORG_ID, XCKY_ADDRESS, XCKY_SYS_NAME, DEFAULT_WHEN_NULL, INVOKER_IPADDR
  </sql>

  <select id="selectByOrgId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from XCKY_ADDRESS_INFO
    where ORG_ID = #{_parameter,jdbcType=VARCHAR}
  </select>

  <select id="selectDefault" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from XCKY_ADDRESS_INFO
    where DEFAULT_WHEN_NULL='1'
  </select>

</mapper>